html {
	scroll-behavior : smooth;
}

:focus-visible {
	outline : none !important;
}

a {
	text-decoration : none !important;
}

p,
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
	margin-bottom : 0;
}

.form-check-input:focus {
	box-shadow : none;
}

.form-control:focus {
	box-shadow : none !important;
}
textarea{
	resize: vertical;

}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus,
.btn-check:focus + .btn-primary, .btn-primary:focus {
	box-shadow : none !important;
}

.btn-check:focus + .btn, .btn:focus {
	outline    : 0;
	box-shadow : none;
}

.navbar-toggler:focus {
	box-shadow : none;
}


.z-index-1 {
	z-index : 1;
}

.z-index--1 {
	z-index : -1;
}


.bg-liner {
	background : linear-gradient(180deg, #F3F9F9 0%, rgba(238, 246, 253, 0) 100%);
}